/* Table of Contents

1. Header 

2. Body

3. Animations

4. Footer */


.title {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 50px;
  }

header {
    position: absolute;
    top: 35%;
    left: -150%;
    transform: translate(-50%, -50%);
    animation: slide-in 1.5s forwards;
}
h1 {
    animation: flash 15.5s ease-in-out infinite;
  }
  
  @keyframes flash {
    0% {
        color: #1a2c2e;
        text-shadow: black;
      }
      50% {
        color: #0e130d;
        text-shadow: 0 0 5px #F5A623, 0 0 10px #F5A623;
      }
      100% {
        color: #060f0b;
        text-shadow: none;
      }
    }
    
@keyframes slide-in {
    100% {
        left: 50%;
    }
}

body {
  background-image: url(https://wallpaperaccess.com/full/5651999.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          height: 100vh;
          margin: 0;
          padding 0;
}

#selfie-photo {
  width: 300px; /* Set the desired width */
  height: auto; /* Maintain the aspect ratio */
  border: 5px solid #000; /* Add a 5px solid black border */
}


  nav {
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin:0 10px;
  }
  
  a {
    color: rgb(79, 189, 176);
    text-decoration: none;
  }
 
  
  h2 {
    font-size: 1.5em;
    margin-top: 0;
  }
  
  p {
    font-size: 1em;
    line-height: 1.5;
  }

  .container {
    display: flex;

  }

  .column {
    flex: 1;
    padding: 20px;
  }
  p {
    font-style: italic ;
    color: rgb(233, 253, 15) ;

  }