.title {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 50px;
  }

header {
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);
    animation: slide-in 1s forwards;
}
@keyframes slide-in {
    100% {
        left: 50%;
    }
}
body {
    background-image: url(https://wallpaperaccess.com/full/5651999.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 100vh;
            margin: 0;
            padding 0;
}

  nav {
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin:0 10px;
  }
  
  a {
    color: rgb(79, 189, 176);
    text-decoration: none;
  }
  